{% extends 'layout.html' %}

{% block title %}
    @{{post['whose']}} post &deg; Instagram
{% endblock title %}

{% block body %}
    <div class="container-600 mb-5">
        <div class="card w-100">
            <img src="{{url_for('static', filename='postimg/'+post['postimg'])}}" class="card-img-top">
            <div class="row p-3">
                <div class="col-1">
                    <img src="{{url_for('static', filename='files/'+user['pp'])}}" style='height:40px; width: 40px' class="rounded-pill">
                </div>
                <div class="col-11 d-flex align-items-center ps-4">
                    <a href = "{{url_for('profile',username=user['username'])}}" class="fw-bold text-decoration-none text-black">
                         {{post['whose']}} • {{user['fullname']}} 
                         {% if post['whose'] == session['username'] %}
                          • 
                         <a href="{{url_for('delpost',id=post['id'])}}" class='text-decoration-none fw-bold text-danger ms-1'>Gönderiyi Sil</a>
                         {% endif %}
                    </a>
                </div>
                <div class="col-1"></div>
                <div class="col-11">
                    <p class='m-0 ps-3'>
                        {{post['posttext']}}
                    </p>
                </div>
            </div>
            <hr class="w-100 mb-0">
            <div class="card-body p-0">
                <div class="p-0">
                    <form action="/posts/{{post['id']}}/addcomment", method='POST' class="py-2">
                        <div class="input-group">
                            <input type="text" name="comment" placeholder="Yorum ekle" class="form-control" style="border: none !important;">
                            <button type="submit" class="btn btn-white fw-bold text-primary" style="border: none !important;">Paylaş</button>
                        </div>
                    </form>
                    <hr class="w-100 m-0 mb-2">
                    {% if comments != None %}
                        <ul class="list-group list-group-flush">
                            {% for comment in comments %}
                                <li class="list-group-item border-0 mb-2">
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="{{url_for('static',filename='files/'+comment['whosepp'])}}" style="width:35px; height:35px" class="rounded-pill">
                                        </div>
                                        <div class="col-11">
                                            <p class="m-0">
                                                <a href="{{url_for('profile',username=comment['whose'])}}" class="fw-semibold text-decoration-none text-black">{{comment['whose']}}</a>
                                                {{comment['commenttext']}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <p class="d-6 text-center my-5">
                        Bu gönderiye henüz yorum yapılmamış.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}